<div class="row">
  <div class="col-md-12">
    <!-- DATA TABLE -->
    <h3 class="title-5 m-b-35">Lista de Estudantes</h3>
    <div class="table-data__tool">
      <div class="table-data__tool-left">
        <button class="au-btn-filter">
          <i class="zmdi zmdi-filter-list"></i>Filtros
        </button>
      </div>
      <div class="table-data__tool-right">
        <button
          class="au-btn au-btn-icon au-btn--green au-btn--small"
          [routerLink]="['/estudantes/registrar']"
          routerLinkActive="router-link-active"
        >
          <!--  -->
          <i class="zmdi zmdi-plus"></i>Formando
        </button>
      </div>
    </div>
    <div class="table-responsive table-responsive-data2">
      <table class="table table-data2">
        <thead class="bg-info">
          <tr>
            <th>Nº</th>
            <th>Nome</th>
            <th>Área de Formação</th>
            <th>Grau Académico</th>
            <th>Instituição de Formação</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="tr-shadow mb-2"
            *ngFor="let student of listStudents; index as i"
          >
            <td>{{ student.id }}</td>
            <td>
              <span class="">{{ student.name }}</span>
            </td>
            <td>
              <span class="">{{ student.formationArea }}</span>
            </td>

            <td>
              <span class="">{{ student.academicLevel }}</span>
            </td>
            <td>
              <span class=""
                ><span class="">{{ student.institute }}</span></span
              >
            </td>
            <td>
              <div class="table-data-feature">
                <button
                  class="item"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Perfil"
                >
                  <i class="zmdi zmdi-mail-send"></i>
                </button>
                <a
                  class="item"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Editar"
                  (click)="studentToEdit(student)"
                  [routerLink]="['/estudantes/alterar']"
                  routerLinkActive="router-link-active"
                >
                  <!--  -->
                  <i class="zmdi zmdi-edit"></i>
                </a>
                <button
                  class="item"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Eliminar"
                  data-toggle="modal"
                  data-target="#deleteModal"
                  (click)="deleteStudent(student.id)"
                >
                  <i class="zmdi zmdi-delete"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- END DATA TABLE -->
  </div>
</div>
