<div class="row">
  <div class="col-lg-10 offset-lg-1 main-form">
    <h3 class="my-4 text-center">Cadastro de Estudantes:</h3>
    <form (ngSubmit)="sendForm()" [formGroup]="studentForm">
      <h4 class="my-3">Dados Pessoais</h4>
      <div class="form-group">
        <label for="id">Nº de Colaborador:</label>
        <input
          type="number"
          name="id"
          id="id"
          class="form-control col-4"
          formControlName="id"
        />
      </div>
      <div class="form-row">
        <div class="form-group col-10">
          <label for="birth">Nome:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder=""
            name="name"
            formControlName="name"
          />
        </div>
        <div class="form-group col-2">
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="gender1">M</label>
            <input
              type="radio"
              class="form-check-input"
              name="gender"
              id="gender1"
              value="M"
              formControlName="gender"
            />
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="gender2">F</label>
            <input
              type="radio"
              class="form-check-input"
              name="gender"
              id="gender2"
              value="F"
              formControlName="gender"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="bi">Bilhete de Entidade:</label>
          <input
            type="text"
            class="form-control"
            id="bi"
            placeholder=""
            name="bi"
            formControlName="bi"
          />
        </div>
        <div class="form-group col">
          <label for="birth">Data de Nascimento:</label>
          <input
            type="date"
            class="form-control"
            id="birth"
            name="birth"
            placeholder=""
            formControlName="birthDate"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder=""
            name="email"
            formControlName="email"
          />
        </div>
        <div class="form-group col">
          <label for="phone">Telefone:</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            placeholder=""
            name="phone"
            formControlName="phone"
          />
        </div>
      </div>
      <div class="form-gro">
        <label for="address">Endereço:</label>
        <input
          type="text"
          class="form-control"
          id="address"
          name="address"
          formControlName="address"
        />
      </div>
      <h4 class="my-3">Formação Académica</h4>
      <div class="form-group">
        <label for="institute">Instituição de Formação:</label>
        <input
          type="text"
          class="form-control"
          id="institute"
          name="institute"
          formControlName="institute"
        />
      </div>
      <div class="form-row">
        <div class="form-group col">
          <p><label for="level">Grau Académico:</label></p>
          <select
            name="level"
            id="level"
            class="form-control col-12"
            formControlName="academicLevel"
          >
            <option value="Universitário">Freq. Univesitária</option>
            <option value="Licenciado">Lienciatura</option>
            <option value="Mestre">Mestrado</option>
          </select>
        </div>
        <div class="form-group col">
          <label for="aria">Área de Formação:</label>
          <input
            type="text"
            class="form-control"
            id="aria"
            name="aria"
            formControlName="formationArea"
          />
        </div>
      </div>
      <div class="row text-center" *ngIf="editMode">
        <button type="submit" class="btn btn-primary col-6 p-2">Alterar</button>
        <button type="reset" class="btn btn-secondary col-6 p-2">Limpar</button>
      </div>
      <div class="row text-center" *ngIf="!editMode">
        <button type="submit" class="btn btn-success col-6 p-2">
          Cadastrar
        </button>
        <button type="reset" class="btn btn-primary col-6">Limpar</button>
      </div>
    </form>
  </div>
</div>
